services:
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    restart: unless-stopped
    container_name: audiobookshelf
    ports:
      - 13378:80
    volumes:
      - ${AUDIOBOOKS}:/audiobooks
      - ${CONFIG}:/config
      - ${METADATA}:/metadata
    environment:
      - TZ=Europe/London
    networks:
      - proxy

networks:
  proxy:
    name: proxy_network
    external: true
